<h1>Post a Song</h1>

<form method="post" action="/songs">
  <div>
    <label>Title:</label>
    <input type="text" name="song_title" value="<%= @song && @song.song_title %>">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @song && @song.author %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="url" value="<%= @song && @song.url %>">
  </div>
  </div>
  <div>
    <input type="submit" value="Submit">
   </div>
</form> 
